@model Slider
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slider Info</h4>
                <p class="card-description">
                    <a class="btn btn-outline-dark" asp-action="index">Back</a>
                </p>
                <p>
                    <img width="200" height="200" src="~/assets/img/@Model.ImageUrl">
                </p>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Create Slider Form</p>
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input asp-for="Photo" placeholder="Name" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_Validation" />
}

