@model Bio

<header>
    <div class="container">
        <div class="logo">
            <h1>Jalmid<span>Media</span></h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
                <li><a asp-controller="About" asp-action="Index">Haqqımızda</a></li>
                <li><a href="services.html">Xidmətlərimiz</a></li>
                <li><a href="news.html">Xəbərlər</a></li>
                <li><a href="contact.html">Əlaqə</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
</header>